project:
  type: website
  output-dir: docs

website:
  title: "Maggie Moss"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - About Page.qmd
      - Research Website Page.qmd
      - Teaching Page.qmd
      - CV Page.qmd

format:
  html:
    theme: 
      light: flatly
      dark: darkly
    css: styles.css
    toc: true
    smooth-scroll: true

editor: visual

